<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>


  <!--<system.serviceModel>
    <services>
      <service name="GamerLib.DrawingService">
        <endpoint name="DrawingServiceEndpoint" address="net.tcp://localhost:40000/GamerLib/DrawingCommandService" binding="netTcpBinding" contract="GamerLib.IDrawingService"/>
      </service>
    </services>
  </system.serviceModel>-->
  
</configuration>